<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "/static/css/style.css">
        <title>Home</title>
    </head>
    <body>
        <form action = "/esercizio1" class="centro">
            <input type = "submit" value = "ESERCIZIO1">
        </form><br>
        <form action = "/esercizio2" class="centro" method="get">
            <label for="provincia">Inserire nome provincia: </label>
            <input type = "text" name = "provincia" id = "provincia"><br>
            <input type = "submit" value = "ESERCIZIO2">
        </form><br>
        <form action = "/esercizio3" class="centro" method="get">
            <label for="provincia2">Inserire nome provincia: </label>
            <input type = "text" name = "provincia2" id = "provincia2"><br>
            <input type = "submit" value = "ESERCIZIO3">
        </form><br>
        <form action = "/esercizio4" class="centro">
            <input type = "submit" value = "ESERCIZIO4">
        </form><br>
        <form action = "/esercizio5" class="centro">
            <input type = "submit" value = "ESERCIZIO5">
        </form><br>
        <form action = "/esercizio6" class="centro">
            <input type = "submit" value = "ESERCIZIO6">
        </form><br>
        <form action = "/esercizio7" class="centro">
            <input type = "submit" value = "ESERCIZIO7">
        </form><br>
        <form action = "/esercizio8-9-10" class="centro">
            <input type = "submit" value = "ESERCIZIO8-9-10">
        </form><br>
        <form action = "/esercizio11" class="centro">
            <input type = "submit" value = "ESERCIZIO11">
        </form><br>
        <form action = "/esercizio12" class="centro" method="get">
            <label for ="longitudine">Inserire valore longitudine: </label>
            <input type = "text" name = "longitudine" id = "longitudine"><br>
            <label for ="latitudine">Inserire valore latitudine: </label>
            <input type = "text" name = "latitudine" id = "latitudine"><br>
            <input type = "submit" value = "ESERCIZIO12">
        </form><br>
    </body>
</html>